node_modules/
.env
.env.local
.DS_Store
dist/
*.log
infra/terraform.tfstate*
infra/.terraform/

# Angular specific
/out-tsc/
/tmp/
/coverage/
/e2e/test-output/
/.angular/
.angular/

# Terraform
infra/terraform.tfvars

# SQLite dev database
*.db

# TypeScript cache
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
